/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ========== END OF RESET ============== */



body {
	font-family: 'Poppins',Verdana, Geneva, Tahoma, sans-serif;
	line-height: 2em;
	margin: 3em 6em;
	background-color: #F8F8F8;
	overflow-x: hidden;
}
h1 {
	font-size: 1.5em;
	font-weight: 900;
	line-height: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
}
h2 {
	font-size: 1.3em;
	font-weight: 520;
}
p {
	color: #1f1f1f;
	text-align: justify;
	padding-bottom: 6em;
}
a {
    text-decoration: none;
	color: #362FD9;
	
}
a:hover {
	color: #E3B04B;
}

.images {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.images__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 8px;
}

.images__item:first-child {
	margin-left: 0px;
}

p > img {
	float: left;
	margin: .5em 1.5em 0 0;
	padding-bottom: 6em;
}

nav > a {
	padding-right: 2em;
}

.kettle_images {
	text-align: center;
}

.background {
	display: flex;
	flex-direction: column;
	background-color: #F1D6AB;
	height: calc(100vh - 8em);
	padding: 18px;
	border-radius: 4px;
}

.page_background {
	background-color: #F1D6AB;
	padding: 18px;
	border-radius: 4px;
}

.navigation {
	display: flex;
	gap: 20px;
	padding-bottom: 20px;
}

.body {
	display: flex;
	flex-direction: column;
	align-items: center;
}
